body {
	font-family: Arial, sans-serif;
}

h1 {
	text-align: center;
}

form {
	margin: 0 auto;
	max-width: 500px;
}

label {
	display: block;
	margin-bottom: 10px;
}

input[type="submit"] {
	margin-top: 20px;
}

#error {
	color: red;
	font-weight: bold;
	margin-top: 20px;
}